{
    "presets": ["@babel/env"],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-modules-commonjs",
            {
                "strictMode": false
            }
        ]
    ]
}
