/* sc-component-id: Nav__Help-sc-1ks12vk-0 */
.ismGXS{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:space-around;-webkit-justify-content:space-around;-ms-flex-pack:space-around;justify-content:space-around;}
/* sc-component-id: Nav__Link-sc-1ks12vk-1 */
.cPKAPg{display:block;color:white;margin:7px;text-align:center;} .cPKAPg.active{font-weight:bold;}
/* sc-component-id: ExternalLinks__Help-sc-1um357e-0 */
.eLDhbb{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:space-around;-webkit-justify-content:space-around;-ms-flex-pack:space-around;justify-content:space-around;}
/* sc-component-id: ExternalLinks__Link-sc-1um357e-1 */
.fjWjG{display:block;color:white;margin:7px;text-align:center;}
/* sc-component-id: Wrapper__View-sc-1at8ee3-0 */
.liabYx{min-height:100vh;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all 1s;transition:all 1s;}
/* sc-component-id: Wrapper__Container-sc-1at8ee3-1 */
.cnbjLF{background:rgb(125,125,125);color:white;padding:20px;border-radius:10px;min-height:75px;}
/* sc-component-id: Wrapper__Heading-sc-1at8ee3-2 */
.YSCho{text-align:center;margin:0;}
/* sc-component-id: Wrapper__AllTheLinks-sc-1at8ee3-3 */
.bkbCap{max-width:335px;margin:auto;margin-bottom:15px;}
/* sc-component-id: Player__Container-sc-1vq8ze-0 */
.khTDuH{padding:5px;}
/* sc-component-id: Player__Playlist-sc-1vq8ze-1 */
.fJTmyf{margin-bottom:10px;}
/* sc-component-id: Player__Song-sc-1vq8ze-2 */
.bYatwH{border-bottom:1px solid white;border-left:1px solid white;border-right:1px solid white;padding:5px;cursor:pointer;border-top:1px solid white;}.JMnuy{border-bottom:1px solid white;border-left:1px solid white;border-right:1px solid white;padding:5px;cursor:pointer;false;false;}
/* sc-component-id: Player__Control-sc-1vq8ze-3 */
.dwlqJN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
/* sc-component-id: Player__Button-sc-1vq8ze-4 */
.ehYJkT{cursor:pointer;margin:5px;}
/* sc-component-id: Player__PlaybackState-sc-1vq8ze-5 */
.jMMIMC{text-align:center;}
/* sc-component-id: Player__PlaybackTime-sc-1vq8ze-6 */
.eKXPYW{text-align:center;}
/* sc-component-id: MultiplePlayers__FlexWrapper-idi079-0 */

/* sc-component-id: MultiplePlayers__PlayerHeading-idi079-1 */

/* sc-component-id: src__Background-dz48ey-0 */
.jMUcpb{background:black;margin:-8px;}
/* sc-component-id: src__PageTransition-dz48ey-1 */
@-webkit-keyframes fadeIn{from{opacity:0;}to{opacity:1;}} @keyframes fadeIn{from{opacity:0;}to{opacity:1;}} @-webkit-keyframes fadeOut{from{opacity:1;}to{opacity:0;}} @keyframes fadeOut{from{opacity:1;}to{opacity:0;}} .hlAElN.page-enter{-webkit-animation:fadeIn 0.2s forwards;animation:fadeIn 0.2s forwards;} .hlAElN.page-exit{-webkit-animation:fadeOut 0.2s forwards;animation:fadeOut 0.2s forwards;}