name: Version

on:
    pull_request:
        types: [opened]

jobs:
    build:
        name: Bump version
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
            - run: npm run patch

env:
    NPM_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
